body:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.1;
  z-index: -1;
  content: '';
  position: fixed;
  background: url('https://api.armoe.cn/acg/random') center / cover;
}

table {
  text-align: center !important;
  border-collapse: separate !important;
  border-spacing: 0 !important;
}

thead,
tbody,
tr:nth-child(2n) {
  background: transparent !important;
  backdrop-filter: blur(16px) !important;
}

table td {
  word-break: keep-all !important;
}

table th {
  word-break: keep-all !important;
  white-space: nowrap !important;
}

h2 {
  border-color: transparent !important;
}
