.content__default:not(.custom) > h2 {
    margin-top: unset !important;
}

.side-bar {
    li {
        &.level-2 {
            a {
                background-color: transparent !important;
            }
        }
    }
}

.navbar {
    background: unset !important;
    backdrop-filter: blur(8px) !important;
}

.links {
    background: unset !important;
    border-bottom: unset !important;
}

.search-box {
    input {
        background: var(--background-color) !important;
        opacity: 0.7 !important;
    }
}

.demo-nav, .demo-main {
    display: none !important;
}

.sidebar {
    background-color: unset !important;
}

.sidebar-link, .sidebar-group {
    background: unset !important;
}

.sidebar ul.sidebar-links > li {
    background: unset !important;
}

.sidebar-mask {
    background: var(--background-color) !important;
    opacity: 0.77 !important;
}

.content__default:not(.custom) {
    padding-top: unset !important;
}