.char-element-image {
  .background {
    width: 100px;
    height: 100px;
    position: relative;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  .image {
    width: auto;
    height: auto;
    max-width: 80%;
    max-height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .pyro {
    background: rgba(#ff9999, 0.7);
  }
  .hydro {
    background: rgba(#80c0ff, 0.7);
  }
  .geo {
    background: rgba(#ffe699, 0.7);
  }
  .electro {
    background: rgba(#ffacff, 0.7);
  }
  .cyro {
    background: rgba(#90ecfe, 0.7);
  }
  .ameno {
    background: rgba(#80ffd7, 0.7);
  }
}
.char-element-desc {
  margin-bottom: 10px;

  ::v-deep .base {
    font-weight: bold;
  }
  ::v-deep .bold {
    @extend .base;
    color: #ffc038;
  }
  ::v-deep .pyro {
    @extend .base;
    color: #ff4b4b;
  }
  ::v-deep .hydro {
    @extend .base;
    color: #389cff;
  }
  ::v-deep .geo {
    @extend .base;
    color: #ffd34b;
  }
  ::v-deep .electro {
    @extend .base;
    color: #ff5bff;
  }
  ::v-deep .cyro {
    @extend .base;
    color: #4be1ff;
  }
  ::v-deep .ameno {
    @extend .base;
    color: #38ffc0;
  }
}
